@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:800');

.gallery {
    text-align: center;
}

.gallery ul {
    list-style: none;
    margin: 5% 5%;
}

.gallery li {
    display: inline-block;
    margin: 0px 0px;
    padding-top: 5%;
}  
    
  .gallery img{     
      width: 90%;
      transition: .25s ease;   

  }

  .gallery img:hover {
      transform: scale(1.1);
      filter: drop-shadow(10px 10px 5px gray);
  }


  



  
  

  