@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:800');
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 5%;
    margin-bottom: 5%
}

.column {
    flex: 20%;
    margin: 0 1%;
}


.image {
    position: relative;
    width: 100%;
    vertical-align: middle;
    margin-top: 5%;
}

.image__img {
    width: 100%;
    position: relative;
    
}

.image__overlay{
    position: absolute;
    top: 0;
    bottom: 4px;
    left: 0;
    width: 100%;
    
    background: rgba(0, 0, 0, 0.6);
    color: white;
    font-family: 'Quicksand', sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s;
}

.image__overlay--blur {
    backdrop-filter: blur(1px);
}

.image__overlay>* {
    transform: translateY(100px);
    transition: transform 0.75s ease;
}

.image__overlay:hover {
    opacity: 1;
    filter: grayscale(75%);
}

.image__overlay:hover>* {
    transform: translateY(0px)
}

.image__title {
    text-align: center;
    font-size: 250%;
    font-weight: 100;
}

.image__description {
    font-size: 1.25em;
    margin-top: 0.25em;
}