.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 5%;
    margin-bottom: 5%;
    text-align: center;
}


.column {
    flex: 20%;
    margin: 0 1%;
}



.image__img {
    width: 100%;
    position: relative;
    margin-left: 0%;
    margin-top: 5%;
    transition: 5s;
}

.info{
    border: groove gray;
    margin-top: 5%;
    min-width: 50%;
}




