* {
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 5%;
    margin-bottom: 5%
}

.column {
    flex: 5%;
    margin: 0 1%;
}

.img-zoom-container {
    position: relative;
    margin-top: 10%;
    margin-left: 15%;
}

.img_magnifier_glass {
    visibility: hidden;
    position: absolute;
    border: 1px solid gray;
    cursor: none;    
}

.caption {
    position: relative;
    padding-left: 18%;
    font-size: 1.25vw;
    color: gray;
    z-index: -1;
}


.image_title{
    font-size: 3vw;
    background-color: rgba(230, 230, 230, 0.5);
    border-style: outset;
    border-color: rgba(63, 61, 61, 0.5);
    padding-left: 40%;
    padding-right: 40%;
    padding-top: 1%;
    padding-bottom: 1%;
}

