/*
* {
    box-sizing: border-box;
}

.img-zoom-lens {
    position: absolute;
    border: 1px solid #d4d4d4;
    width: 60px;
    height: 60px;
}

.img-zoom-result {
    border: 1px solid #d4d4d4;
    width: 500px;
    height:500px;
}
*/

* {
    box-sizing: border-box;
}

.img-zoom-container {
    position: relative;
    margin-top: 5%;
    margin-left: 5%;
}

.img_magnifier_glass {
    position: absolute;
    border: 1px solid gray;
    cursor: none;
    width: 100px;
    height: 100px;
}