* {
    overflow-y: hidden;
}

.img-zoom-container {
    position: relative;
}

.image {
    margin-left: 5%;
    margin-top: 5%;
    border-width: 1px;
    border-style: solid;
}

.img_magnifier_glass {
    margin: 5%;
    visibility: hidden;
    position: absolute;
    border: 1px solid gray;
    cursor: none;
}

.caption {
    margin-left: 5%;
    position: relative;
    font-size: 1.25vw;
    color: gray;
    z-index: -1;
}