* {
    overflow-y: hidden;
    overflow-x:hidden;
}

#wrapper{
    display:grid;
}

.img-zoom-container {  
    position: relative;
}

.image {
    margin-top:5%;
    margin-left:5%;
    margin-right:5%;
    border-width: 1px;
    border-style: solid;
}

.img_magnifier_glass {
    margin-top:5%;
    margin-left:5%;
    margin-right:5%;
    visibility: hidden;
    position: absolute;
    border: 1px solid gray;
    cursor: none;
}

.caption {
    margin-left: 5%;
    position: relative;
    font-size: 1.25vw;
    color: gray;
    z-index: -1;
}

.pricing{
    margin-top:5%;
    margin-left: 5%;
    margin-right:15%;
    text-align: center;
    border:5px solid black;
}