<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/aboutMeStyle.css') }}">
    <link rel = "stylesheet" type = "text/css" href = "footer/css/font-awesome.min.css">

    <title></title>
    <script src="https://use.fontawesome.com/releases/v5.15.2/js/all.js"></script>
    <script src="{{ url_for('static', filename='JS/headerFooter.js') }}"></script>
    
    <div class="parallax">
        <div class="title">JWagPics</div>

    </div>
    <div class="menu" id="sticky">
        <u1 class="menu-u1">
            <a href="home" class="a-menu">
                <li>Home </li>
            </a>
            <a href="gallery" class = "a-menu">
                <li>Photo Gallery </li>
            </a>
            <a href="aboutMe" class="a-menu"  id="current-page">
                <li>About Me </li>
            </a>
            <a href="contact" class="a-menu" class="a-menu">
                <li>Contact </li>
            </a>
        </u1>
    </div>
</head>

<body>



   <div class = "about-me">
      <header class='masthead'>
        <p class='masthead-intro'>Hi I'm James</p>
      </header>
      <section class="introduction-section">
          <h1>Introduction</h1>
          <p>i james</p>
          <p>i take pics</p>
      </section>
      <section class = "image-section">
        <img src="..\static/images/forest.jpg">
      </section>
      <section class="location-section">
          <h1>Where I am from</h1>
          <p>wagner st</p>
      </section>
      <section class="questions-section">
          <h1>A little bit more about me</h1>
          <h2>Q1</h2>
          <p>ans</p>
          <h2>Q2</h2>
          <p>ans</p>
          <h2>Q3</h2>
          <p>ans</p>
      </section>
        
   </div>

</body>

<div class="footer">
  <div class="inner-footer">
      <div class="logo">
          <img src="..\static/images/logo.png">
      </div>
      <div class="footer-third">
          <h1>Follow Me</h1>
          <li><a href="https://www.instagram.com/jwagnerpics/?hl=en"><i class="fab fa-instagram"></i> instagram link</a></li>
          <li><a href="https://www.instagram.com/jwagnerpics/?hl=en"><i class="fab fa-twitter"></i> twitter link</a></li>
          <li><a href="https://www.instagram.com/jwagnerpics/?hl=en"><i class="fab fa-youtube"></i> youtube link</a></li>

      </div>
      <div class="footer-third">
          <h1>Follow Me</h1>
          <li><a href="https://www.instagram.com/jwagnerpics/?hl=en"><i class="fab fa-instagram"></i> instagram link</a></li>
          <li><a href="https://www.instagram.com/jwagnerpics/?hl=en"><i class="fab fa-instagram"></i> instagram link</a></li>
          <li><a href="https://www.instagram.com/jwagnerpics/?hl=en"><i class="fab fa-instagram"></i> instagram link</a></li>

      </div>
      <div class="footer-third">
          <h1>Follow Me</h1>
          <li><a href="https://www.instagram.com/jwagnerpics/?hl=en"><i class="fab fa-instagram"></i> instagram link</a></li>
          <li><a href="https://www.instagram.com/jwagnerpics/?hl=en"><i class="fab fa-instagram"></i> instagram link</a></li>
          <li><a href="https://www.instagram.com/jwagnerpics/?hl=en"><i class="fab fa-instagram"></i> instagram link</a></li>

      </div>
      <div class="footer-third">
          <h1>Follow Me</h1>
          <li><a href="https://www.instagram.com/jwagnerpics/?hl=en"><i class="fab fa-instagram"></i> instagram link</a></li>
          <li><a href="https://www.instagram.com/jwagnerpics/?hl=en"><i class="fab fa-instagram"></i> instagram link</a></li>
          <li><a href="https://www.instagram.com/jwagnerpics/?hl=en"><i class="fab fa-instagram"></i> instagram link</a></li>

      </div>
  </div>
</div>