<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buyStyle.css') }}">

   <!-- <link rel="stylesheet" type="text/css" href="footer/css/font-awesome.min.css"> -->


    <title></title>
    <script src="https://use.fontawesome.com/releases/v5.15.2/js/all.js"></script>
    <script src="{{ url_for('static', filename='JS/headerFooter.js') }}"></script>
    <script src="{{ url_for('static', filename='JS/buyMagnify.js') }}"></script>






</head>

<body onresize="magnify('buy_img', 3)">


    <div class="parallax">
        <div class="title">JWagPics</div>

    </div>
    <div class="menu" id="sticky">
        <u1 class="menu-u1">
            <a href="home" class="a-menu">
                <li>Home </li>
            </a>
            <a href="gallery" class="a-menu" id="current-page">
                <li>Photo Gallery </li>
            </a>
            <a href="buy" class="a-menu">
                <li>Buy </li>
            </a>
            <a href="aboutMe" class="a-menu">
                <li>About Me </li>
            </a>
            <a href="contact" class="a-menu">
                <li>Contact </li>
            </a>
        </u1>
    </div>



    <div class="footer">
        <div class="inner-footer">
            <div class="logo">
                <img src="..\static/images/logo.png">
            </div>
            <div class="footer-third">
                <h1>Follow Me</h1>
                <li><a href="#"><i class="fab fa-instagram"></i> instagram link</a></li>
                <li><a href="#"><i class="fab fa-twitter"></i> twitter link</a></li>
                <li><a href="#"><i class="fab fa-youtube"></i> youtube link</a></li>

            </div>
            <div class="footer-third">
                <h1>Follow Me</h1>
                <li><a href="#"><i class="fab fa-instagram"></i> instagram link</a></li>
                <li><a href="#"><i class="fab fa-instagram"></i> instagram link</a></li>
                <li><a href="#"><i class="fab fa-instagram"></i> instagram link</a></li>

            </div>
            <div class="footer-third">
                <h1>Follow Me</h1>
                <li><a href="#"><i class="fab fa-instagram"></i> instagram link</a></li>
                <li><a href="#"><i class="fab fa-instagram"></i> instagram link</a></li>
                <li><a href="#"><i class="fab fa-instagram"></i> instagram link</a></li>

            </div>
            <div class="footer-third">
                <h1>Follow Me</h1>
                <li><a href="#"><i class="fab fa-instagram"></i> instagram link</a></li>
                <li><a href="#"><i class="fab fa-instagram"></i> instagram link</a></li>
                <li><a href="#"><i class="fab fa-instagram"></i> instagram link</a></li>

            </div>
        </div>
    </div>



    <div class="img-zoom-container">
        <img id="buy_img" class="image" onmouseover="appear()">
        <div id="glass" class="img_magnifier_glass" onmouseout="disappear()"></div>
        <p class="caption">Hover Me!</p>
    </div>

    <!-- <p class="price"><span id="image_price"></span></p>    INCLUDE PRICE IN SEPERATE BOX ABOVE
            <p class = "price">DEMO PRICE</p>
            <p class="description"><span id="image_description"></span></p>
--->

    <script>
        magnify("buy_img", 2);  // First is image ID, second is magnifying strength
    </script>

</body>