<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homeStyle.css') }}">
    <title></title>
    <script src="https://use.fontawesome.com/releases/v5.15.2/js/all.js"></script>
    <script src="{{ url_for('static', filename='JS/headerFooter.js') }}"></script>
</head>

<body>
    <!--
<section> 
        <h1> random </h1>
    </section>
    <script>
        var section = document.querySelector('section')
        var images = [
            "url(../Images/img1.jpg)",
            "url(../Images/test-image.png)"
        ]
        setInterval (function (){
            var bg = images [Math.floor(Math.random()* images.length)]
            console.log(bg)
            section.style.background = bg
        }, 1000)

    </script>
    -->
    <div class="section-top">
        <header id="showcase">
            <h1>JWagPics</h1>
            <p> Slogan</p>
        </header>
    </div>

    <div class="menu" id="sticky">
        <u1 class="menu-u1">
            <a href="home" class="a-menu">
                <li>Home </li>
            </a>
            <a href="gallery" class="a-menu">
                <li>Photo Gallery </li>
            </a>
            <a href="aboutMe" class="a-menu">
                <li>About Me </li>
            </a>
            <a href="contact" class="a-menu">
                <li>Contact </li>
            </a>
        </u1>
    </div>


</body>













































<!---
<body onload="screenSize()">
    
    <div id = "content"> 
        <div id = "menu" class= "nav">
            <img src="logo.png" alt="McMaster Rocketry" width ="300px" height = "300px" style = "margin:50px">
            <a href = "#" class = "item" style = "margin-top:150px">    Overview </a>
            <a href = "#" class = "item">    Launches </a>
            <a href = "#" class = "item">   Teams </a>
            <a href = "#" class = "item">   Blog & Updates </a>
            <a href = "#" class = "item">   Sponsors </a>

        </div>
    </div>    

    <div id = "content1"> 
        <span class = "slide">
            <a href = "#" onclick = "openSlideMenu()"> 
                <i class = "fas fa-bars">
                </i>
            </a>            
        </span>
        <div id = "menu1" class= "nav">
            <a href = "#" class = "close" onclick ="closeSlideMenu()">
                <i class = "fas fa-times"> </i>
            </a> 
            <img src="logo.png" alt="McMaster Rocketry" width ="300px" height = "300px" style = "margin:50px">
            <a href = "#" class = "item" style = "margin-top:150px">    Overview </a>
            <a href = "#" class = "item">    Launches </a>
            <a href = "#" class = "item">   Teams </a>
            <a href = "#" class = "item">   Blog & Updates </a>
            <a href = "#" class = "item">   Sponsors </a>

        </div>

    </div> 
</body>


-->

</html>